body,
html {
  height: 100%;
}
body {
  direction: ltr;
  font-family: $font-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5em;
  main {
    -webkit-transition: all 0.52s cubic-bezier(0.36, 0.76, 0, 0.88);
    transition: all 0.52s cubic-bezier(0.36, 0.76, 0, 0.88);
  }
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
    z-index: 1;
    position: relative;
    @include trans-fast;
}
a:hover, a:focus {
  text-decoration: none;
  outline:none;
}

p {
  font-size: 0.9375rem;
  font-weight: $base-font-weight;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background: none;
}
.color,
.custom-checkbox input[type="checkbox"] + span.color {
  width: 42px;
  height: 42px;
  display: inline-block;
  margin: 0.05rem 0.15rem 0 0;
  border: none;
  cursor: pointer;
  background-size: contain;
  border-radius: 50%;
  position: relative;
  @include trans-fast;
  &:before {
    pointer-events: none;
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    box-shadow: inset 0 0 0 4px $content-bg, 0 0 0 3px $content-bg;
    border-radius: 50%;
    transform: scale(1.15);
    @include trans-fast;
    z-index:2;
  }
  #search_filters &:before {
    box-shadow: 0 0 0 3px $content-bg;
  }
  &.white:after {
    pointer-events: none;
    content:' ';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    box-shadow: inset 0 0 0 8px $border-color;
    border-radius: 50%;
    @include trans-fast;
    z-index:1;
  }
  &:hover {
    @include shadow-medium;
    &:before {
      box-shadow: inset 0 0 0 7px $content-bg, 0 0 0 0 $body-border;
      transform: scale(0.9);
    }
  }
  &.white:hover:after {
    box-shadow: inset 0 0 0 9px $border-color;
    transform: scale(0.9);
  }
  &.white:hover:before {
    box-shadow: inset 0 0 0 7px $content-bg, 0 0 0 3px $body-border;
  }
}

.modal-content {
  border:none;
  border-radius: 0;
}

.facet-label {
  &.active,
  &:hover {
    .custom-checkbox span.color {
      border: $input-btn-border-width solid $input-border-focus;
    }
  }
}
.h1,
.h2,
.h3 {
}
.h4 {
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.125;
}
//Buttons style
.btn:not(.btn-touchspin) {
  line-height: 18px;
  padding:19px 32px;
  white-space: normal;
  @include shadow-low;
  @include trans-fast;
  &:hover,
  &:focus,
  &.btn-primary.disabled:hover,
  &.btn-primary:disabled:hover {
    border:2px solid;
    text-decoration: none;
    box-shadow:none;
  }
  &.wide {
    padding-left:60px;
    padding-right:60px;
  }
}
.btn-primary,
.btn-secondary {
  .material-icons {
    margin-right: $small-space;
  }
}
.btn-tertiary {
  @extend .btn-secondary;
  padding: 0.25rem;
  margin: 0.25rem 0;
}
.btn-unstyle {
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: inherit;
  &:focus {
    outline: 0;
    .expand-more {
    }
  }
}
.btn-high {
  padding:24px 30px;
}
label ,.label {
  text-align: right;
  font-size: 1rem;
}
small.label, small.value {
  font-size: 0.8125rem;
}
.form-control-label {
  padding-top: 0.625rem;
}
input, select {
  @include trans-fast;
}
.form-control, #quantity_wanted {
  border-width:2px;
  border-style: solid;
  padding: 19px 28px;
  min-width:6rem;
  font-weight:600;
  font-size:13px;
  line-height: 18px;
  outline:none;
}
svg {
  pointer-events: none;
  > * {
    pointer-events: none;
  }
}
.input-group {
  min-width:6rem;
  &.bootstrap-touchspin {
    box-shadow: none;
    display: flex;
  }
  &.focus {
  }
  .form-control:focus {
    outline: none;
  }
  .input-group-btn {
    width:0;
    height: 100%;
    &.group-span-filestyle {
      width:auto;
      outline: none;
      > .btn {
        position: absolute;
        right:0;
        top:0;
        height:100%;
        z-index: 5;
        display: flex;
        align-items: center;
        .buttonText {
          display: flex;
          @include trans-fast;
          svg {
            width:26px;
            height: 26px;
          }
        }
        &:hover {
          .buttonText {
            transform: rotate(30deg);
          }
        }
      }
    }
    > .btn {
      border: 0;
      box-shadow: none;
      font-size: 0.6875rem;
      font-weight: normal;
      margin-left: 0;
      padding: 0.625rem 1rem;
      text-transform: uppercase;
      outline: none!important;
      &[data-action="show-password"]{
        height: 100%;
        color:$input-text;
        background: none;
        border:none;
        // border-left:2px solid $input-border;
        position: absolute;
        top:0;
        right:0;
        width: auto;
        z-index: 5;
        display: flex;
        &:before {
          content:'';
          height:50%;
          width: 2px;
          left:0;
          top:25%;
          position: absolute;
        }
        i {
          font-size: 1.5rem;
          font-style: normal;
          display: inline-block;
          opacity:0.2;
          width: 26px;
          height: 26px;
          @include trans-fast;
          svg {
            width: 26px;
            height: 26px;
          }
        }
        &:hover {
          &:before {
          }
          i {
          opacity:1;
          }
        }
      }
    }
  }
}
.custom-file {
  .btn {
    display: flex;
    svg {
      width:26px;
      height: 26px;
      margin-top: 3px;
      margin-left: 4px;
      margin-right: 4px;
      * {
        stroke:$btn-color!important;
      }
    }
  }
}
input:not(.btn), textarea {
  &::-webkit-input-placeholder {
    color: $input-placeholder;
  }
  &::-moz-placeholder {
    color: $input-placeholder;
  }
  &:-ms-input-placeholder {
    color: $input-placeholder;
  }
  &:-moz-placeholder {
    color: $input-placeholder;
  }
  &:active {
    &::-webkit-input-placeholder {
      color: $input-placeholder;
    }
    &::-moz-placeholder {
      color: $input-placeholder;
    }
    &:-ms-input-placeholder {
      color: $input-placeholder;
    }
    &:-moz-placeholder {
      color: $input-placeholder;
    }
  }
  height: 3.75rem;
  padding: 19px 28px;
  border-width:2px;
  border-style: solid;
  line-height: 18px;
  outline:none!important;
  @include trans-fast;
  &:not(.btn):focus {
    padding-left:24px;
    box-shadow: 0 14px 22px 0px rgba(0, 0, 0, 0.09);
  }
}
textarea, textarea.form-control {
  min-height: 90px;
  line-height: 18px;
  padding-top:22px;
  padding-bottom:22px;
}
.form-control-select, body select.form-control:not([size]):not([multiple]) {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: $input-bg url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=") no-repeat scroll right 0.5rem center / 1.25rem 1.25rem;
  height: 3.75rem;
  min-height: 60px;
  padding: 19px 28px;
  border-width:2px;
  border-style: solid;
  line-height: 18px;
  cursor:pointer;
  outline:none!important;
  &:focus {
    padding-left:24px;
    box-shadow: 0 14px 22px 0px rgba(0, 0, 0, 0.09);
  }
}
body select.form-control:not([size]):not([multiple]) {
  padding-right: 2.75rem;
}
.form-control-valign {
  padding-top: 0.5rem;
}
.form-control-comment {
  font-size: 0.75rem;
  padding-top: 4px;
  padding-left:4px;
  letter-spacing: 0.1rem;
  letter-spacing: 0.04rem;
  position: static;
  display: inline-block;
}
.form-control-submit {
  &.disabled {
  }
}
@media (max-width:991px) {
  .form-control-comment {
    padding-left:5px;
    text-align: right;
  }
}
.form-group {
  &.has-error {
    input,
    select {
      outline: 0.1875rem solid $brand-danger;
    }
    .help-block {
      color: $brand-danger;
    }
  }
  &.row {
    position: relative;
  }
  .req {
    position: absolute;
    top:4px;
    right:-8px;
    font-size:28px;
    font-weight: 400;
  }
}
@media(min-width:768px) {
  .form-group {
    &.row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      label {
        font-size:14px;
      }
    }
  }
}
.group-span-filestyle {
  label {
    margin: 0;
    .icon-span-filestyle {
      display: none;
    }
  }
  .btn-default {
    text-transform: uppercase;
    border-radius: 0;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}
.bootstrap-touchspin {
  width: auto;
  float: left;
  display: inline-block;
  @include box-shadow-light;
  input {
    &:focus {
      outline: none;
    }
    &.form-control,
    &.input-group {
      float: left;
    }
  }
  .btn-touchspin {
    @extend .btn-default;
    &:hover {
    }
  }
  .input-group-btn-vertical {
    width: auto;
    float: left;
    border-radius: 3px;
    overflow: hidden;
    z-indeX: 5;
    display: table;
    .bootstrap-touchspin-up {
      border-radius: 0;
      padding: 12px 10px 11px;
    }
    .bootstrap-touchspin-down {
      border-radius: 0;
      padding: 11px 10px 12px;
    }
    > .btn {
      margin-left: 0;
    }
    .touchspin-up {
      &:after {
        content: "\E5CE";
      }
    }
    .touchspin-down {
      &:after {
        content: "\E5CF";
      }
    }
    i {
      top: 0.2rem;
      left: 0.15rem;
      font-size: 0.9375rem;
    }
  }
}
.custom-radio {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: $input-border 2px solid;
  background: none;
  margin-right: 0.625rem;
  @include trans-def;
  input[type="radio"] {
    opacity: 0;
    cursor: pointer;
    height: auto;
    & + span {
      pointer-events: none;
      display: block;
      background: none;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      left: 3px;
      transform: scale(1.5);
      @include trans-fast;
    }
  }
  input[type="radio"] {
    &:checked + span {
      transform: scale(1);
    }
    &:focus + span {
    }
  }
  &:hover {
    border-color: $input-border-focus;
    @include shadow-long-h;
  }
}
.custom-checkbox {
  position: relative;
  input[type="checkbox"] {
    margin-top: 0.25rem;
    opacity: 0;
    width:1.25rem;
    height:1.25rem;
    top:0;
    z-index: 3;
    // height: auto;
    cursor: pointer;
    position: absolute;
    + span {
      margin-right: 4px;
      margin-top: 2px;
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      vertical-align: middle;
      cursor: pointer;
      border: 2px solid $input-border;
      border-radius: 4px;
      @include trans-def;
      .checkbox-checked {
        display: none;
        margin: 0 -0.1rem;
        font-size: 1.5rem;
        font-weight: bold;
        @include trans-def;
      }
    }
    &:checked + span {
      .checkbox-checked {
        display: inline-block;
        margin-top: -12px;
      }
    }
    &:focus + span {
      border-color: $input-border;
    }
    &:hover + span {
        border-color: $input-border-focus;
        @include shadow-long-h;
    }
  }
  label {
    text-align: left;
    font-size: $font-size-sm;
    margin-bottom: 0;
  }
}
.text-muted {
  font-size: $font-size-sm;
}
.done {
  display: inline-block;
  padding: 0 0.8125rem;
  margin-right: 1.563rem;
}
.thumb-mask {
  > .mask {
    position: relative;
    width: 3.438rem;
    height: 3.438rem;
    overflow: hidden;
    border: $gray-light 1px solid;
    margin: $small-space 0;
    img {
      width: 55px;
      height: 55px;
    }
  }
}
.definition-list {
  dl {
    display: flex;
    flex-wrap: wrap;
    dt {
      font-weight: normal;
    }
    dd,
    dt {
      flex: 0 0 45%;
      padding: 0.625rem;
      margin: 0.125rem;
      &:nth-of-type(even) {
      }
    }
  }
}
.help-block {
  margin-top: $small-space;
}
.alert {
    padding: 1.25rem 1.75rem 1.25rem 4.25rem!important;
    background:none;
    font-size: 0.875rem!important;
    line-height: 1.25rem!important;
    position: relative;
    &:before {
      content:'';
      width:20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      left:1.5rem;
      top:50%;
      transform: translateY(-50%);
      display: block;
    }
    ul, ol {
      margin-bottom:0.5rem!important;
    }
}
.alert-warning {
  .material-icons {
    font-size: 2rem;
    margin-right: $small-space;
    padding-top: $extra-small-space;
  }
  .alert-text {
    font-size: 0.9375rem;
    padding-top: $small-space;
  }
  .alert-link {
    border-radius: 2px;
    border-width: 2px;
    margin-left: $small-space;
    padding: $extra-small-space $medium-space;
    font-weight: 600;
    font-size: 0.8125rem;
  }
  .warning-buttons {
    margin-top: $extra-small-space;
  }
}

.btn-warning {
  @include transition(all .4s ease-in-out);
}
.btn-tertiary-outline {
  background-image: none;
  background-color: transparent;
  @include transition(all .4s ease-in-out);
}
.separator {
  margin: 0;
}
.text-center {
  text-align: center;
}

.hide_it_pls {
  visibility: hidden;
  display: none;
}
