
.forgotten-password {
  padding: 4px;

  .form-fields {

    .center-email-fields {
      display: flex;
      justify-content: center;

      @media (max-width: 767px) {
        flex-direction: column;

        button {
          margin: 10px;
          width: calc(100% - 20px);
        }
        .form-control-label {
          text-align: left;
        }
      }

      button {
        margin-left:14px;
      }
    }

    .email {
      padding-left: 0;
      padding-right: 0;
      input {
        margin-right:14px;
      }

      @media (max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
      }
    }

    label.required {
    }
  }
}

.send-renew-password-link {
  padding-left: 10px;
  padding-right: 10px;
}
